<!-- Base template for this app and the project -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Expentrac</title>
    <link rel = "stylesheet" type="text/css" href="../static/style.css">
    <link rel= "icon" href='../static/favicon.ico' type='image/x-icon'/>
</head>
<body>
    <div class="main_div">
        <div class="main_sec">
            <div>
                <h2> Expentrac </h2>
                <h4> Your simple expense logger </h4>
            </div>

            <div class="work_space">
                <h3> {% block title %}  {% endblock title %} </h3>{# could be login, signup, track #}
                {% block content %} {% endblock content %}
            </div>

        </div>


    </div>
</body>
</html>