<!-- Base template for this app and the project -->
{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Expentrac</title>

    {% load bootstrap4 %}
    {# Load CSS and JavaScript #}  {# calling bootstrap before custom styles allows over-riding BS styles #}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    <script src="https://use.fontawesome.com/cf29dc4996.js"></script>


    <link rel = "stylesheet" type="text/css" href="../static/tracker/style.css">
    <link rel= "icon" href='../static/tracker/favicon.ico' type='image/x-icon'/>

</head>
<body>

    <div class="main_div">
        <div class="main_sec">
            <div class="logo_div">
                <h1> Expentrac </h1>
                <h4> Your simple expense logger </h4>
                </br>
            </div>

            <div class="work_space">
                <p class="page_title"> {% block title %}  {% endblock title %} </p>{# could be login, signup, track #}
                {% block content %} {% endblock content %}
            </div>

        </div>
    </div>

<!--    <script src="{% static 'assets/js/jquery-3.2.1.min.js' %}"></script>-->
<!--    <script src="{% static 'assets/js/popper.min.js' %}"></script>-->
<!--    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>-->
    <!-- You can alternatively load the minified version -->
    <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>

    {% block extrascripts %}{% endblock extrascripts %}
</body>
</html>