<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Expentrac</title>

    {% load static %}
    {% load bootstrap4 %}

    {% bootstrap_css %} {# calling bootstrap before custom styles allows over-riding BS styles #}
    {% bootstrap_javascript jquery='full' %}
    <script src="https://use.fontawesome.com/cf29dc4996.js"></script>
    <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
    <script>
        setTimeout(function() {
            $('#message_div').hide();
        }, 3000);
    </script>

    <script>
        function onpageload() {
            var el, tr;
            tr = table.getElementsByTagName("tr");
            el = document.getElementById("no_records");
            if (tr.length == 2) {  // check if there are more than two table rows (if there is any data)
                el.style.display = "";
                }
        }
    </script>

    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">

    <link rel = "stylesheet" type="text/css" href="../static/tracker/style.css">
    <link rel= "icon" href='../static/tracker/favicon1.ico' type='image/x-icon'/>

</head>
<body onload="onpageload();">

    <div class="main_div">
        <div class="main_sec" id="primary">
            <div class="logo_div">
                <h1> Expentrac </h1>
                <h4> Your simple expense logger </h4>
                </br>
            </div>

            <div class="work_space">
                <p class="page_title"> {% block title %}  {% endblock title %} </p>{# could be login, signup, track #}
                {% block content %} {% endblock content %}
            </div>

        </div>
    </div>

    {% block extrascripts %}{% endblock extrascripts %}
</body>
</html>