<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Expentrac</title>
    <link rel = "stylesheet" type="text/css" href="../static/style.css">
    <link rel= "icon" href='../static/favicon.ico' type='image/x-icon'/>
</head>
<body>
    {% extends "./base.html" %}  {# template inheriting from parent 'base' #}
    {% block title %} LOGIN {% endblock title %}

    {% block content %}
        {# Form for logging in #}
        <form action = "" method="post">
            {% csrf_token %}
            <label for="username" > Username </label>
            <input type="text" name="username" id="username" placeholder="Sara">
            </br>
            </br>
            </br>
            <label for="password"> Password </label>
            <input type="password" name="password" id="password" placeholder="********">
            </br>
            </br>
            </br>
            <button type="submit">Let's go!</button>
            <button type="button">Sign Up</button>

        </form>
    {% endblock content %}

</body>
</html>