<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    {% extends "./base.html" %}  {# template inheriting from parent 'base' #}
    {% block title %} LOGIN {% endblock title %}

    {% block content %}
        {# Form for logging in #}
        <form action = "" method="post">
            {% csrf_token %}

            <div>
            <label for="username" > Username </label>
            <input type="text" name="username" id="username" placeholder="Sara">
            </div>
            <div>
            <label for="password"> Password </label>
            <input type="password" name="password" id="password" placeholder="********">
            </div>
            </br>
            <button type="submit">Let's go!</button>
            <button type="button">Sign Up</button>

        </form>
    {% endblock content %}

</body>
</html>