<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
</head>
<body>
    {% extends "./base.html" %}  {# template inheriting from parent 'base' #}
    {% block title %} LOGIN {% endblock title %}

    {% block content %}
        {# Form for logging in #}
        <form class="needs-validation" action = "" method="post" novalidate>
            {% csrf_token %}
            <label for="id_username">Username</label>
            {{ form.username }}
            </br>
            <label for="id_password">Password</label>
            {{ form.password }}
            </div>
            </br>
            <button type="submit">Let's go!</button>
            <a href="/signup"><button type="button">Sign Up</button></a>

        </form>
    {% endblock content %}

</body>
</html>