<!DOCTYPE html>
<html lang="en">
<head>
    {% extends "./base.html" %}  {# template inheriting from parent 'base' #}
</head>
<body>

    {% block title %} SIGN UP {% endblock title %}

    {% block content %}

        {# Get the errors on the form, and display before the form starts #}

        <div class="fieldWrapper">
            {% for field in form %}
                {% if field.errors %}
                    {% for err in field.errors %}
                        {% if field.help_text %}
                            <div class="err">{{ field.label }}: {{ err }} ( {{ field.help_text|safe }} )</div>
                        {% else %}
                            <div class="err">{{ field.label }}: {{ err }} </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
            {% if form.non_field_errors %}
                {% for err in form.non_field_errors %}
                    <div class="err">{{ err }}</div>
                {% endfor %}
            {% endif %}
        </div>
        </br>

        {# Form for signing up #}
        <form action = "" method="POST" novalidate>
            {% csrf_token %}
            <label for="id_first_name" class="required">First name</label>
            {{ form.first_name }}
            </br>
            <label for="id_last_name">Last name</label>
            {{ form.last_name }}
            </br>
            <label for="id_email" class="required">Email</label>
            {{ form.email }}
            </br>
            <label for="id_username" class="required">Username</label>
            {{ form.username }}
            </br>
            <label for="id_password" class="required">Password</label>
            {{ form.password }}
            </br>
            <label for="id_cPassword" class="required">Confirm password</label>
            {{ form.cPassword }}
            </br>
            </br>
            <button type="submit">Sign Up</button>
            <a href="/"><button type="button" >Login</button></a>

        </form>
    {% endblock content %}

</body>
</html>