<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
    {% extends "./base.html" %}  {# template inheriting from parent 'base' #}
    {% block title %} SIGN UP {% endblock title %}

    {% block content %}
        {# Form for signing up #}
        <form action = "" method="post" novalidate>
            {% csrf_token %}
            <label for="id_first_name">First name</label>
            {{ form.first_name }}
            </br>
            <label for="id_last_name">Last name</label>
            {{ form.first_name }}
            </br>
            <label for="id_email">Email</label>
            {{ form.email }}
            </br>
            <label for="id_username">Username</label>
            {{ form.username }}
            </br>
            <label for="id_password">Password</label>
            {{ form.password }}
            </br>
            <label for="id_cPassword">Confirm password</label>
            {{ form.cPassword }}
            </br>
            </br>
            <button type="submit">Sign Up</button>
            <a href="/"><button type="button" >Login</button></a>

        </form>
    {% endblock content %}

</body>
</html>