{% extends "./base.html" %} {# template inheriting from parent 'base' #}
<!DOCTYPE html>
<html lang="en">
<head>
</head>
<br>
    {% load static %}

    {% block title %} EXPENSES {% endblock title %}

    {% block content %}
    {% include "./_modal.html" %}

    <div class="filt_container">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle month" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Month
            </button>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <p class="dropdown-item">June 2020</p>
                <p class="dropdown-item">July 2020</p>
            </div>
        </div>


        <div>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle category" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Category
                </button>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {% for cate in categories %}
                        <p class="dropdown-item">{{ cate }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    </br>
    </br>
    <!-- Create expense button -->
    <button id="create-expense" class="btn" type="button" name="button">Create expense</button>
    </br>
    </br>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">S.No</th>
            <th scope="col">Expense date</th>
            <th scope="col">Item</th>
            <th scope="col">Category</th>
            <th scope="col">Amount(C$)</th>
            <th scope="col">Notes</th>
            <th scope="col">Total(C$)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
              <td>2020/06/20</td>
              <td>Fries</td>
              <td>Food</td>
              <td>1.35</td>
              <td>Hungry me!</td>
              <td>1.35</td>
              <td> <a href = "" class="tracker_controls1" ><i class="fa fa-pencil" title="Edit"></i></a></td>
              <td> <a href = "" class="tracker_controls2" ><i class="fa fa-times" title="Delete"></i></a></td>
        </tr>
        <tr>
              <th scope="row">2</th>
              <td>2020/06/21</td>
              <td>Coffee</td>
              <td>Food</td>
              <td>1.29</td>
              <td>Thirsty me!</td>
              <td>2.64</td>
              <td> <a href = "" class="tracker_controls1" ><i class="fa fa-pencil" title="Edit"></i></a></td>
              <td> <a href = "" class="tracker_controls2" ><i class="fa fa-times" title="Delete"></i></a></td>
        </tr>
        <tr>

        </tr>
      </tbody>
    </table>

    {% endblock content %}

    {% block extrascripts %}

    <script type="text/javascript">
    $(function () {
        $("#create-expense").modalForm({
            formURL: "{% url 'tracker_row' %}",
            modalID: "#create-modal"
          });
      });
    </script>

    {% endblock extrascripts %}

</body>
</html>