{% extends "./base.html" %} {# template inheriting from parent 'base' #}

<head>
    <link rel="stylesheet" type="text/css" href="extensions/filter-control/bootstrap-table-filter-control.css">
    <script src="extensions/filter-control/bootstrap-table-filter-control.js"></script>
</head>

<body onload="onpageload();">

    {% block title %} EXPENSES {% endblock title %}

    {% block content %}
    {% include "./_modal.html" %}

    <div class="logout"> <a href="/logout"><i class="fa fa-sign-out" aria-hidden="true" title="Logout" id="logout"></i> </a></div>

    </br>
    </br>
    <div class="filt_container">
        <div class="select-div month">
            <select id="month_filter" onchange="filt_function_month()" class='form-control1'>
                <option selected> All time </option>
                {% for m_y in month_year %}
                    <option> {{ m_y }} </option>
                {% endfor %}
            </select>
        </div>


        <div class="select-div category">
            <select id="category_filter" onchange="filt_function_category()" class='form-control1'>
                <option selected >All expenses</option>
                {% for cate in categories %}
                    <option> {{ cate }} </option>
                {% endfor %}
            </select>
        </div>
    </div>
    </br>
    </br>
    <!-- Create expense button -->
    <button id="create-expense" class="btn" type="button" name="button">Create expense</button>
    </br>
    </br>
    <table id="table" class="table secondary table-striped">
        <thead>
        <tr>
            <th scope="col">S.No</th>
            <th scope="col">Expense date</th>
            <th scope="col">Item</th>
            <th scope="col">Category</th>
            <th scope="col">Amount(C$)</th>
            <th scope="col">Notes</th>
            <th scope="col">Total(C$)</th>
            <th colspan="2">Actions</th>
        </tr>
      </thead>

      <tbody>
          {% for tracker in object_list %}
                <tr id={{ tracker.id }}>
                    <td style="color: green; font-weight: bold;">{{ forloop.counter }}</td>
                    <td>{{ tracker.date }}</td>
                    <td>{{ tracker.item }}</td>
                    <td>{{ tracker.category }}</td>
                    <td>{{ tracker.amount }}</td>
                    <td>{{ tracker.notes }}</td>
                    <td style="color: green;"><strong>{{ tracker.total_after_expense }}</strong></td>
                    <td> <a class="tracker_controls1" id="c"><i class="fa fa-pencil edit-expense " title="Edit" data-form-url="{% url 'tracker_row_edit' tracker.id %}"></i></a></td>
                    <td> <a href="{% url 'tracker_row_delete' id=tracker.id %}" class="tracker_controls2" id="d"><i class="fa fa-times del-expense" title="Delete"></i></a></td>
                </tr>
            {% endfor %}
            <tr id="no_records" style="display: none;">
                <td colspan="7"> <strong> No records found </strong></td>
            </tr>
      </tbody>
    </table>

    {% endblock content %}

    {% block extrascripts %}

    <script type="text/javascript">
    $(function () {
        $("#create-expense").modalForm({
            formURL: "{% url 'tracker_row_create' %}",
            modalID: "#create-modal"
          });


        $(".edit-expense").each(function () {
              $(this).modalForm({
                formURL: $(this).data("form-url"),
                modalID: "#edit-modal"
              });
            });

        $('.de-expense').on('click', function() {
            return confirm("Are you sure you want to delete this expense?");
        });
    });

    </script>

    <script>
        function filt_function_category() {
          var input, filter, table, tr, td, i, c, el, count=0;
          input = document.getElementById("category_filter");
          //input1 = document.getElementsByClassName("no_display");
          filter = input.value.toUpperCase();
          table = document.getElementById("table");
          tr = table.getElementsByTagName("tr");
          el = document.getElementById("no_records");
          for (i = 0; i < tr.length; i++) {
            //if (tr[i] in input1) { continue; }
            td = tr[i].getElementsByTagName("td")[3];
            if (td) {
                if (filter == "ALL EXPENSES") {   // With no filter applied
                    el.style.display = "none";
                    tr[i].style.display = "";
                }

                else{
                  if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                    el.style.display = "none";
                    count++;
                  } else {
                    tr[i].style.display = "none";
                    //tr[i].className = "no_display";
                  }
                }
            }
          }
          if (!count & filter != "ALL EXPENSES") {
            el.style.display = "";
           }
        }
    </script>

    <script>
        function filt_function_month() {
          var input, filter, table, tr, td, i, c, el, count=0;
          input = document.getElementById("month_filter");
          //input2 = document.getElementsByClassName("no_display");
          filter = input.value.slice(0,3);
          table = document.getElementById("table");
          tr = table.getElementsByTagName("tr");
          el = document.getElementById("no_records");
          for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                if (filter == "All") {   // With no filter applied
                    tr[i].style.display = "";
                    el.style.display = "none";
                }

                else{
                  if (td.innerHTML.indexOf(filter) > -1) {
                    tr[i].style.display = "";
                    el.style.display = "none";
                    count++;
                  } else {
                    tr[i].style.display = "none";
                    //tr[i].className = "no_display";
                  }
                }
            }
          }
          if (!count & filter != "All") {
            el.style.display = "";
           }
        }
    </script>
    {% endblock extrascripts %}

</body>
</html>