.main_div{
      height: 85%;
      width: 100%;
      align-items: center;
      box-sizing: border-box;
      position: absolute;
      flex-direction: column;
      display: flex;
}

.main_sec{
  background-color: rgba(185, 237, 171, 0.327);
  border-radius: 20px;
  margin: auto;
  width: 1100px;
  height: auto;
  display: block;
  text-align: center;
  align-content: center;
  position: relative;
  padding: 20px 10px 24px;
}

.logo_div {
    text-align: center;
}

.logo_div h1 {
    color: green;
    font-size: 42px;
    font-family: "Comic Sans MS";
   }

.logo_div h4 {
    color: rgba(61, 61, 61, 0.65);
    font-size: 28px;
    font-family: "Comic Sans MS";
 }

.work_space p.page_title {
    color: green;
    font-size: 34px;
    font-family: "Bradley Hand";
   }

.fieldWrapper {
    font-family: "Arial";
    background-color: rgba(214, 148, 148, 0.5);
    color: red;
    border-radius: 5px;
    font-size: 14px;
    margin: auto;
    width: 35%;
    display: block;
    position: relative;
    align-content: center;
    }

.messages {
    color: green;
    background-color: lightgreen;
}

label {
    display: inline-block;
    width: 160px;
    text-align: center;
    font-family: "Comic Sans MS";
    font-size: 18px;
    color: rgba(61, 61, 61, 0.65);
}

input{
    border-radius: 10px;
    border: 1px solid lightgray;
    width: 20%;
    padding: 10px 15px;
    margin: 10px 5px;
    box-sizing: border-box;
    color: green;
}

.required:after {
    content:"*";
    color: red;
  }

p.help-block {
    color: yellow;
}

button {
    border : none;
    border-radius: 10px;
    text-align: center;
    width: 10%;
    color: white;
    padding: 10px 15px;
    margin: 10px 5px;
    box-sizing: border-box;
    background-color: green;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: white;
    color: green;
    }

i#logout {
    color: gray;
    float: right;
    margin: 0 20px;
    font-size: 24px;
}

i#logout:hover {
    color: green;
}

div.filt_container {
    position: relative;
    }

#dropdownMenuButton {
    position: relative;
    background-color: gray;
    width: 20%;
    font-family: "Comic Sans MS";
}

p.dropdown-item{
    color: gray;
    font-size: 20px;
    font-family: "Comic Sans MS";
    }

p.dropdown-item:hover{
    color: white;
    background-color: green;
    }

.month {
    float: left;
    margin-left: 120px;
}

.category {
    float: right;
    margin-right: 120px;
}

table th {
    color: green;
    }

a{
    color: black;
}

i.edit-expense:hover {
    color: green;
    }

i.del-expense:hover {
    color:red;
}

button#create-expense{
    background-color: green;
    font-family: "Comic Sans MS";
    color: white;
    width: 200px;
}

button#create-expense:hover {
    color: green;
    background-color: white;
    }

button.submit-btn {
    border-radius: 10px;
    font-family: "Comic Sans MS";
}

i {
    cursor : pointer;
}

/*! ----------- Start of modal formatting --------------*/

div.modal-body {
    text-align: left;
    }

button.close:hover {
    color: red;
}

div.form-group label {
    text-align:left;
    width: 200px;
    float: left;
    }

div.form-group .form-control {
    color: green;
}

div.form-group p {
    color: red;
}

h3.modal-title {
    color: green;
    font-family: "Comic Sans MS";
}

div.modal-footer button {
    border: solid green;
    width: 20%;
}

/*! ----------- End of modal formatting --------------*/





